.invite {
  font: inherit;
  &__title {
    font-size: 3rem;
  }
  // .tabs {
  //   position: sticky;
  //   top: 0;
  //   z-index: 1000;
  // }

  .button__text {
    font-size: 1.8rem;
    padding: 0.4rem;
    border-radius: 1rem;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      box-shadow: var(--box-shadow-light);
    }
    &:active {
      transform: scale(1);
      box-shadow: none;
    }
    &--add {
      color: var(--color-txt-p);
    }
    &--remove {
      color: var(--color-red);
    }
  }
  .group {
    display: grid;
    gap: 1rem;
    width: -webkit-fill-available;
    margin: 1rem;
    .card {
      display: grid;
      gap: 1rem;
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      & > * {
        margin: 2rem;
      }
    }
    &__title {
      font-size: 2rem;
      color: var(--color-txt-p);
      font-weight: 600;
      position: relative;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        background-color: lightgray;
        border-radius: 3rem;
        cursor: pointer;
        transition: transform 0.2s;
        color: var(--color-non-active);
        &:hover {
          transform: scale(1.1);
          box-shadow: var(--box-shadow-light);
        }
        &--action {
          color: var(--color-txt-p);
        }
      }
      .icon--right {
        right: 0;
      }
    }
  }
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5rem auto;
  box-shadow: var(--box-shadow-1);
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  color: var(--color-non-active);
  &:hover .checkBox {
    transform: scale(1.1);
    border-color: var(--color-txt-p-light);
  }
  &--active {
    color: var(--color-txt-p);
  }
  &__cell {
    font-size: 1.8rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .checkBox {
      width: 3rem;
      height: 3rem;
      border: 1px solid var(--color-bg-1);
      border-radius: 0.5rem;
      transition: transform 0.2s ease-in-out;
      &--invalid {
        border-color: var(--color-red);
      }
      .icon__svg {
        fill: var(--color-txt-p);
      }
    }
  }
}

.total {
  border: 3px solid #007dd72b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-bg-md);
  &--invalid {
    color: var(--color-red);
    border-color: var(--color-red);
  }
  &__text {
    font-size: 1.8rem;
    font-weight: 600;
    background-color: var(--color-bg-3);
  }
}

.send {
  color: var(--color-white);
  background-color: var(--color-bg-md);
  justify-self: center;
  padding: 2rem;
  font-size: 2rem;
  margin: 2rem;
  &.button--red {
    background-color: var(--color-red);
  }
}

.input__field.selectDate {
  position: relative;
  color: var(--color-non-active);
  cursor: pointer;
  &--invalid {
    color: var(--color-red);
  }
  .icon {
    position: absolute;
    bottom: 50%;
    left: 5px;
    transform: translateY(50%);
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--color-bg-layout);
      & .icon__svg {
        fill: var(--color-red);
        transform: scale(1.1);
      }
    }
  }
}

.invitation {
  gap: 2rem;
  grid-template-columns: 1fr max-content;
  grid-template-rows: min-content 1fr;
  &--deleted {
    opacity: 0.65;
  }
  & > .icon {
    grid-row: 1;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      background-color: var(--color-bg-2);
    }
  }
  &__dogs {
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__dog {
    &--added {
      border: 2px solid blue;
    }
    &--removed {
      border: 2px solid red;
      opacity: 0.6;
    }
    &:not(:last-child) {
      margin-left: 1rem;
    }
    &-caption {
      font-size: 1.4rem;
      color: var(--color-non-active);
    }
    &--removed &-caption {
      text-decoration: line-through;
    }
  }
  &__dates {
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__date {
    margin: 1rem;
    display: grid;
    border: 1px solid #a2a2c454;
    &--update {
      border: 1px solid blue;
    }
    &-text {
      padding: 0.5rem;
      font-size: 1.4rem;
      font-weight: 500;
    }
    &-day {
      padding: 0.2rem;
      font-size: 1.2rem;
      font-weight: 500;
    }
    &-time {
      padding: 0.1rem;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  &__arrow {
    display: grid;
    color: var(--color-non-active);
  }
  &__totalDays {
    font-size: 1.4rem;
    font-weight: 600;
  }
  &__status {
    padding: 0.5rem;
    justify-self: end;
    grid-row: 1 / 4;
    grid-column: 2;
    align-self: center;
    width: 7rem;
    height: 100%;
    border: 1px solid #d3d3d382;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem 0 0 2rem;
    &-text {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

.filters {
  display: grid;
  background-color: var(--color-bg-2);
  padding: 1rem;
  &__row {
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }
  &__caption {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-txt-p);
    margin-left: 1.5rem;
  }
  &__status {
    padding: 1rem;
    background-color: white;
    color: var(--color-txt-p);
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    .counter {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.5rem;
      font-size: 1.4rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      transform: translateY(-50%);
      background-color: #eb2f64;
      color: white;
    }
    &--active {
      background-color: var(--color-txt-p);
      color: white;
      // & .counter{
      //   background-color: var(--color-bg-md);
      // }
    }
  }
}
