.invite {
  font: inherit;
  &__title {
    font-size: 3rem;
  }

  .button__text {
    font-size: 1.8rem;
    padding: 0.4rem;
    border-radius: 1rem;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      box-shadow: var(--box-shadow-light);
    }
    &:active {
      transform: scale(1);
      box-shadow: none;
    }
    &--add {
      color: var(--color-txt-p);
    }
    &--remove {
      color: var(--color-red);
    }
  }
  .group {
    display: grid;
    gap: 1rem;
    width: -webkit-fill-available;
    margin: 1rem;
    .card {
      display: grid;
      gap: 1rem;
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      & > * {
        margin: 2rem;
      }
    }
    &__title {
      font-size: 2rem;
      color: var(--color-txt-p);
      font-weight: 600;
      position: relative;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        background-color: lightgray;
        border-radius: 3rem;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.1);
          box-shadow: var(--box-shadow-light);
        }
        &__svg {
          fill: var(--color-txt-p);
        }
      }
    }
  }
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5rem auto;
  box-shadow: var(--box-shadow-1);
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  color: var(--color-non-active);
  &:hover .checkBox {
    transform: scale(1.1);
    border-color: var(--color-txt-p-light);
  }
  &--active {
    color: var(--color-txt-p);
  }
  &__cell {
    font-size: 1.8rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .checkBox {
      width: 3rem;
      height: 3rem;
      border: 1px solid var(--color-bg-1);
      border-radius: 0.5rem;
      transition: transform 0.2s ease-in-out;
      .icon__svg {
        fill: var(--color-txt-p);
      }
    }
  }
}

.input__field.selectDate {
  position: relative;
  color: var(--color-non-active);
  cursor: pointer;

  .icon {
    position: absolute;
    bottom: 50%;
    left: 5px;
    transform: translateY(50%);
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--color-bg-layout);
      & .icon__svg {
        fill: var(--color-red);
        transform: scale(1.1);
      }
    }
  }
}
