.tabs {
	display: grid;
	grid-auto-flow: column;
	justify-items: center;
	justify-content: start;
	align-items: center;
	align-content: flex-start;
	gap: 1rem;
    &__tab {
        border-bottom: 1px solid lightgray;
        font: inherit;
        font-size: 1.8rem;
        color: var(--color-non-active);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            color: var(--color-txt-p);
        }
        &[data-active="true"] {
            color: var(--color-txt-p);
            border-bottom: 2px solid var(--color-txt-p);
        }
    }
}
