.tabs {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: start;
    align-items: flex-end;
    align-content: flex-start;
    gap: 1rem;
    white-space: nowrap;


    // TODO: mobile view
    // position: absolute;
    // bottom: 0;
    // width: 100vw;
    // display: grid;
    // align-items: flex-start;
    // justify-content: center;
    // background: var(--color-bg-dark);
    // color: white !important;
    
    &__tab {
        padding: 1rem;
        border-bottom: 1px solid lightgray;
        color: var(--color-non-active);
        display: flex;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        span{
            font: inherit;
            font-size: 1.8rem;
            @media screen and (max-width: 360px){
                font-size: 1.4rem;
            }
        }
        &:hover {
            color: var(--color-txt-p);
        }
        &[data-active="true"] {
            color: var(--color-txt-p);
            border-bottom: 2px solid var(--color-txt-p);
            & .icon__svg{
                fill: var(--color-txt-p);
            }
        }
    }
}
